<%= form_with(model: idea) do |form_new| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form_new.label :name %>
  </div>
  <div class="field">
    <%= form_new.text_field :name %>
  </div>

  <div class="field">
    <%= form_new.label :description %>
  </div>
  <div class="field">
    <%= form_new.text_area :description %>
  </div>

  <div class="field">
    <%= form_new.label :picture %>
  </div>
  <div class="field">
    <%= form_new.file_field :picture %>
  </div>

  <div class="actions">
    <%= form_new.submit %>
  </div>
<% end %>
