<p id="notice"><%= notice %></p>

<h1>Ideas</h1>

<div class="row justify-content-end">
    <div class="col-2">
      <%= link_to 'Create New Idea', new_idea_path, class: "btn btn-success" %>
    </div>
</div>

<section class="home">
    </section>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to idea.name, idea %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag idea.picture_url, width: '50%' if idea.picture.present? %></td>
        <td><%= idea.status.humanize %></td>
        <td><%= link_to 'Approve', ideas_approve_url(idea), :confirm => "Are you sure want to approve it?", :method => :post, class: "btn btn-success" %></td>
        <td><%= link_to 'Reject', ideas_reject_url(idea), :confirm => "Are you sure want to reject it?", :method => :post, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
